/* Шрифты */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");      
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}


/* Глобальные */

*, *::before, *::after {
box-sizing: inherit;
}

html {
box-sizing: border-box;
}

body {
  font-family: "Roboto", "Verdana", sans-serif;
  background-color: #849d8f;
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*Ссылки по стайлгайду не меню*/

.text-ref-gray:link,
.text-ref-gray:visited {
  color: #ffffff; 
}

.text-ref-gray:hover,
.text-ref-gray:focus,
.text-ref-gray:active {
  color: #ffbc9e; 	
}

.text-ref-white:link,
.text-ref-white:visited {
  color: #323232; 	
}

.text-ref-white:hover,
.text-ref-white:focus,
.text-ref-white:active {
  color: #e84d37; 	
}


/*Кнопки по стайлгайду */

.button {
  padding: 10px 22px;
  border-radius: 25px;
  background-color: #ef6140;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.7);
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76); 
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-image: linear-gradient( 90deg, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.7);
}

.button:active {
  background-image: linear-gradient( 90deg, rgb(225,97,62) 0%, rgb(215,70,50) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.7);
  color: #fceeec; 
}


/*Форма по стайл гайду*/

input {
  background-color: #ffffff;
  border: 1px solid #b2b2b2;  
}

input:hover {
  border: 2px solid #9a9a9a; 
}

input:focus {
  border: 2px solid #2e88e4; 
}

/* header */

  /*Навигация по сайту*/
.main-header {
  margin: 10px 27px 0px 27px;	
}
 
.main-navigation {
  display: flex; 
}

.main-navigation ul {
  list-style: none;
}

.site-navigation {
  display: flex;
  padding-left: 13px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin-right: auto;  
}

.site-navigation a {
  padding: 6px 13px;
  display: block;  
}


.site-navigation a:link,
.site-navigation a:visited {
  color: #ffffff; 
}

.site-navigation a:hover,
.site-navigation a:focus {
  border-radius: 16px;
  background-color: #f8f7f4;
  color: #323232;
}

.site-navigation a:active {
  background-color: #f8f7f4;
  color: #323232;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.7)
}

li:hover .sub-navigation {
  display: block;	
}

.sub-navigation {
  display: none;
  background-color: #f8f7f4;  
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.sub-navigation a:link,
.sub-navigation a:visited {
  color: #323232;	
}

.sub-navigation a:hover,
.sub-navigation a:focus {
  background-color: #fbded7;	
}

.sub-navigation a:active {
  background-color: #f6b5a5;	
}

.sub-navigation li:first-child > a {
 font-weight: 700;
 border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
}

.on-page {
  border-radius: 16px;
  background-color: #d07058;
  color: #ffffff;  
}

  /*Пользовательская навигация*/

.user-navigation {
  padding: 0;
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;  
}

.user-navigation a:not(.text-ref-white) {
  display: block;
}

.user-navigation a:link:not(.text-ref-white),
.user-navigation a:visited:not(.text-ref-white) {
  background-color: #9db1a5;
  color: #ffffff;  
}

.user-navigation a:hover:not(.text-ref-white),
.user-navigation a:focus:not(.text-ref-white) {
  background-color: #f8f7f4; 
  color: #323232;  
}

.user-navigation li + li {
  margin-left: 10px;	
}

  /*Поиск*/

.search-link {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-link:hover,
.search-link:focus {
  background-image: url("../img/loupe-active.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;  
}

li:hover .search-form {
  display: block;	
}

.search-form {
  display: none;	
}

  /*Личный кабинет*/

.login-link {
  padding: 8px 16px 8px 45px;
  border-radius: 16px;
  background-image: url("../img/entrance.svg"); 
  background-repeat: no-repeat;
  background-position: 16px 50%; 
}

.login-link:hover,
.login-link:focus {
  background-image: url("../img/entrance-focus.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;  
}

li:hover .entrance-form {
  display: block;	
}

.entrance-form {
  display: none;	
}

  /*Корзина*/

.nothing {
  padding: 8px 16px 8px 45px;
  border-radius: 16px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

.nothing:hover,
.nothing:focus {
  background-image: url("../img/basket-black.svg"); 
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

.basket-link {
  padding: 8px 16px 8px 45px;
  border-radius: 16px;
  background-image: url("../img/basket-red-white.svg");
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

.basket-link:hover,
.basket-link:focus {
  background-image: url("../img/basket-red.svg"); 
  background-repeat: no-repeat;
  background-position: 16px 50%;
}

li:hover .basket-form {
  display: block;	
}

.basket-form {
  display: none;	
}

  /*Контакты справа*/

.contacts {
  margin: 0;
  color: #ffffff;
  font-weight: 700; 
  text-align: right;	
}

.contacts span {
  font-size: 14px;
  line-height: 16px; 	
}

.contacts span:last-child {
  font-size: 22px;
  line-height: 24px;	
}

/*Поп-окна*/

/*Поиск поп-окно*/

.search-form {
  background-color: #f8f7f4;	
}

/*Вход в личный кабинет поп окно*/

.entrance-form {
  background-color: #f8f7f4;
}

.entrance-form .text-ref-white {
  font-weight: 400;
}

/*Корзина-поп-окно*/

.basket-form {
  background-color: #f8f7f4;
  font-size: 13px;
  line-height: 16px; 
  font-weight: 400; 
  color: #323232;  
}

.tableContainer {
  display: table;
}

.tableRow {
  display: table-row;
}

.tableCell {
  display: table-cell;	
}

.tableCell span {
  color: #999999;	
}

.tableCell.summa {
  font-size: 15px;
  line-height: 18px; 
  font-weight: 700;  	
}

.del {
  border: none;
  background-color: transparent;  
}

.del::before {
  content: url("../img/cross-big.svg");	
}

/*Содержимое index.html*/

  /* Слайдер */

.slider ul {
  list-style: none;	
  text-align: center;
}

.slider-caption {
  font-size: 60px;
  line-height: 61px;
  font-weight: 700;
  color: #ffffff;  
}

.slider .button {
  font-size: 32px;	
}

.slider-browser.current::before {
  content: url("../img/slider-browser-current.png");
}

.slider-browser::before {
  content: url("../img/slider-browser-other.png");  
}

  /* Баннер*/
  
.banner {
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;   
}

.banner h3 {
  font-size: 35px;
  line-height: 41px;  
}

.strawberry {
  background-color: #c51c48;
  background-image: url("../img/strawberry.jpg");
  
}

.chocolate {
  background-color: #7a5444;
  background-image: url("../img/chocolate.jpg");	
}


  /*ХИТ*/

.hits ul{
  list-style: none;	
}

.hits li:hover {
  background-color: #9bafa3;	
}

.hits figure::before {
  content: url("../img/hit.svg");  	
}

/*Магазин Глейси*/

.about-gllacy {
  margin: 0 27px;
  padding: 26px 6px 0 6px;
  background-color: #eddfc5;
  background-image: url("../img/waffle.jpg");
  color: #323232; 
  border-radius: 15px;  

}

.about-us {
  margin: 0;
  padding: 0 13px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;   
}

.gllacy-shop {
  margin-top: 13px;
  list-style: none;
  padding: 0;
  padding-bottom: 13px;
  display: flex;
  flex-wrap: wrap;    
}

.gllacy-shop li {
  width: 567px; 
  padding: 13px;
  padding-left: 70px;  
  font-weight: 400;
  font-size: 16px;
  line-height: 22px; 
}

.ice-cream {
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 13px 0;
}

.eco {
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 13px 0;  
}

.cow {
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 13px 0;  
}

.thermometer {
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 13px 0;  
}


/*Прочая информация - блок для компоновки*/

.wrap-other-inform {
  margin: 40px 27px;
  display: flex;
  justify-content: space-between;  
}

/*Новое в нашем блоге*/

.blog {
  width: 560px;
  color: #323232;
  padding: 25px 20px;
  border-radius: 15px;  
  background-image: url("../img/strawberry-background.jpg");
  background-repeat: no-repeat;	
}

.blog h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;	
}

.blog a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px; 
}


/*Рассылка*/

.subscription {
  width: 560px;
  height: 222px;
  color: #5a5a5a;
  border-radius: 15px;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;		
}

.substrate {
  margin: 6px;
  height: 210px;
  padding: 27px 18px;
  border-radius: 15px;
  background-color: #f8f7f4;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.substrate p {
  margin: 0;
  padding: 0;	
}

.substrate form {
  padding: 38px 0px 0px 0px;
}

.substrate input {
  width: 69%;
  height: 44px;
  border-radius: 4px;  
}

.substrate .button {
  margin-left: 12px;
  text-align: right;  
}


/*Адрес*/

.address {
  background-color: #f7f1d9;
}



.big-address {
  background-color: #fdfefe;
  color: #323232; 
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;   
}

.big-address span {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;  	
}

/*Форма обратной связи*/

.form-callback {
  display: none;	
}


/*Страница содержимого cream-ice.html*/

  /*Хлебные крошки и заголовок*/

.breadcrumbs {
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  display: flex;
  margin: 0px 27px;
  padding-left: 0;  
}

.cream-ice {
  color: #ffffff; 	
}

.cream-ice h1 {
 margin-left: 27px;
 font-size: 35px;
 line-height: 41px;
 font-weight: 700;
}

  /*Фильтры cream-ice.html*/
  
.filters fieldset {
  border: none;   
}

.filters legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;  
}

.field-container {
  font-size: 16px;
  line-height: 32px;
  background-color: #a8b9b0;
  height: 36px;
  font-weight: 500;  
}

.field-select {
  width: 195px;
  overflow: hidden; 
}

.filters select {
  background-color: #a8b9b0;
  border: none;
  /*vertical-align: middle;*/
  width: 215px;
  color: #ffffff;
  font-weight: 500;
  background-image: url("../img/icon-down-dir.png");
  background-repeat: no-repeat;
  background-position: 170px 50%;
}

.filters select:hover {
  color: #323232;
  background-image: url("../img/icon-down-dir-hover.png");
  background-repeat: no-repeat;
  background-position: 170px 50%;
}

.filters input[type="radio"] {
  display: none; 	
}

.filters input[type="radio"]:checked+label::before {
  content: url("../img/radio-on.png"); 
}

.filters input[type="radio"]+label::before {
  content: url("../img/radio-off.png"); 
}

.filters input[type="radio"]:checked+label:hover::before {
  content: url("../img/radio-on-hover.png"); 
}

.filters input[type="radio"]+label:hover::before {
  content: url("../img/radio-off-hover.png"); 
}

.filters input[type="checkbox"] {
  display: none; 	
}

.filters input[type="checkbox"]:checked+label::before {
  content: url("../img/checkbox-on.png");
}

.filters input[type="checkbox"]+label::before {
  content: url("../img/checkbox-off.png"); 
}

.filters input[type="checkbox"]:checked+label:hover::before {
  content: url("../img/checkbox-on-hover.png"); 
}

.filters input[type="checkbox"]+label:hover::before {
  content: url("../img/checkbox-off-hover.png"); 
}

.filters button {
  color: #ffffff;
  background-color: #9cb0a4;
  width: 144px;
  height: 37px;	
  border: 2px solid #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.filters button:hover {
  color: #323232;
  background-color: #fbfcfb;	
}

.filters button:active {
  color: #323232;
  background-color: #eaeaea;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.7);  
  border: none;
}

  /*Каталог cream-ice.html*/
  
.catalog {
  margin: 0px 14px;	
}

.catalog-items {
  list-style: none; 
  padding-left: 0; 
  display: flex;
  flex-wrap: wrap;  
}

.item {
  width: 293px;
  padding: 8px 13px 12px 13px;
  text-align: center;  
}

.item-link {
  color: #ffffff;  
}

.item figure {
  margin: 0; 	
}

.quick-look {
  display: none;
  padding-bottom: 20px;  
}

.catalog li:hover {
  background-color: #9bafa3;	
}

li:hover .quick-look {
  display: block;	
}

  /*Панагинация*/

.pagination {
  list-style: none;	
}

.pagination li {
  display: inline-block;
  text-align: center;	
  line-height: 26px;
}

.pagination a {
  display: block;
  font-size: 16px;
  width: 26px;
  height: 26px;
  color: #ffffff;
  text-decoration: none; 
  vertical-align: middle;
  border-radius: 13px;
}

.pagination a:hover:not(.left-arrow) {
  background-color: rgba(255, 255, 255, 0.2);  	
}

.pagination a:active {
  color: #323232;
  background-color: #ffffff;  	
}

a.current-pagination {
  color: #323232;
  background-color: #ffffff;   
}

.left-arrow::before {
  content: url("../img/left-arrow.png");
  vertical-align: middle;  
}

.right-arrow::before {
  content: url("../img/right-arrow.png"); 
  vertical-align: middle;  
}


/*footer*/

.main-footer {
  margin: 0 27px;
  padding: 18px 0px 25px 0px;
  display: flex;
  justify-content: space-between;   
}

.main-footer ul {
  list-style: none;	
}

  /*Социальные сети*/

.footer-social .social {
  max-width: 283;
  padding: 0;
  display: flex;     
}

.social li + li {
  padding-left: 11px;	
}

.twitter::before {
  content: url("../img/twitter-usually.png");
}

.fb::before {
  content: url("../img/fb-usually.png");
}

.instagram::before {
  content: url("../img/instagram-usually.png");
}

.vk::before {
  content: url("../img/vk-usually.png");		
}

.twitter:hover::before,
.twitter:focus::before {
  content: url("../img/twitter-hover.png");
}

.fb:hover::before,
.fb:focus::before {
  content: url("../img/fb-hover.png");
}

.instagram:hover::before,
.instagram:focus::before {
  content: url("../img/instagram-hover.png");
}

.vk:hover::before,
.vk:focus::before {
  content: url("../img/vk-hover.png");		
}

.twitter:active::before {
  content: url("../img/twitter-active.png");
}

.fb:active::before {
  content: url("../img/fb-active.png");
}

.instagram:active::before {
  content: url("../img/instagram-active.png");
}

.vk:active::before {
  content: url("../img/vk-active.png");		
}

  /*ИНфо*/
  
.info-production a {
  font-size: 13px;
  line-height: 18px; 
}
.info {
  width: 347px;
  padding: 0;
  padding-left: 20px;
  background-image: url("../img/heart.svg"); 
  background-repeat: no-repeat; 
  background-position: 0 2px;  
  display: flex;
  flex-wrap: wrap;  
}

.info li {
  width: 163px;  
}

.for-suppliers {
  font-weight: 700;  
}

  /*Копирайт*/

.footer-copyright {
  width: 192px;
  height: 60px;
  color: #ffffff;
  font-size: 12px;
  line-height: 16px; 	
}

.footer-copyright p {
  margin-top: 2px;	
}
